<?xml version="1.0"?>
<config>
  <modules>
    <Muaw_InstagramPhotos>
      <version>0.1.0</version>
    </Muaw_InstagramPhotos>
  </modules>
  <frontend>
    <routers>
      <instagramphotos>
        <use>standard</use>
          <args>
            <module>Muaw_InstagramPhotos</module>
            <frontName>instagramphotos</frontName>
          </args>
      </instagramphotos>
    </routers>
		<layout>
		  <updates>
			<instagramphotos>
			  <file>instagramphotos.xml</file>
			</instagramphotos>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <instagramphotos>
        <class>Muaw_InstagramPhotos_Helper</class>
      </instagramphotos>
    </helpers>
	<blocks>
	  <instagramphotos>
		<class>Muaw_InstagramPhotos_Block</class>
	  </instagramphotos>
	</blocks>
  </global>
</config> 